.modal-card {
  width: 100%;
  max-width: 1024px;
}

@media screen and (max-width: 768px) {
  .modal-card {
    max-height: 100vh;
    height: 100vh;
  }

  .modal-card-head, .modal-card-foot {
    border-radius: 0;
  }
}
