<script>
  import { getLabel } from "../utils/view-helper";
  export let messages;
</script>

{#if messages.length}
  <div class="notification is-warning">
    <ul>
      {#each messages as message}
        <li>{getLabel(message)}</li>
      {/each}
    </ul>
  </div>
{/if}
