<script>
  export let content = null;
</script>

<div class="dropdown is-hoverable">
  <div class="dropdown-trigger">
    <span class="helper-text-icon">?</span>
  </div>

  <div class="dropdown-menu" id="dropdown-menu" role="menu">
    <div class="dropdown-content">
      {@html content}
    </div>
  </div>
</div>

<style>
  .dropdown-content {
    font-weight: normal;
    padding: 8px;
    border: 2px solid #ddd;
  }
</style>
