<script>
  import SyncSelect from "../../components/SyncSelect.svelte";
  import { get, post, destroy } from "../../utils/request";

  import { getLabel } from "../../utils/view-helper";

  export let view;
  export const id = null;

  let currentRole = null;
  let models = [];
  let permissionsByModel = {};

  const roleViewField = {
    labelKey: "RoleId",
    descriptionColumn: "labelKey",
    ModelField: {
      name: "RoleId",
      targetModel: "Role",
      targetModelAlias: "Role",
      type: "belongsTo",
    },
  };

  async function getModels() {
    const { data } = await get("/data", {}, { Model: "Model" }, true);
    models = data.result;
  }

  async function getRolePermission() {
    permissionsByModel = {};
    if (!currentRole) {
      return;
    }

    const { data } = await get(
      "/data",
      {
        where: {
          AND: [{ name: "RoleId", criteria: "eq", value: currentRole }],
        },
      },
      { Model: "ModelPermission" },
      true
    );

    for (let index = 0; index < data.result.length; index++) {
      const perm = data.result[index];
      if (!permissionsByModel[perm.ModelId]) {
        permissionsByModel[perm.ModelId] = {};
      }

      permissionsByModel[perm.ModelId][perm.action] = perm.id;
    }
  }

  function onSubmit(ev) {
    ev.preventDefault();
    getModels();
    getRolePermission();
  }

  const ACTIONS = ["browse", "store", "show", "update", "delete"];

  async function update(model, action, checked, permissionId) {
    if (!currentRole || !model || !action) {
      return;
    }

    if (checked) {
      await post(
        "/data",
        { ModelId: model, RoleId: currentRole, action },
        { Model: "ModelPermission" }
      );
    } else {
      await destroy(`/data/${permissionId}`, {}, { Model: "ModelPermission" });
    }
  }

  const modalFields = {
    isActive: false,
    isLoading: false,
    model: null,
    fields: [],
    modelFieldPermissions: {},
    areAllSelected: false,
  };

  function closeModalFields() {
    modalFields.isActive = false;
    modalFields.model = null;
  }

  async function loadFieldsVisibility() {
    modalFields.modelFieldPermissions = {};
    const { data } = await get(
      "/data",
      {
        where: {
          AND: [
            { name: "ModelId", criteria: "eq", value: modalFields.model.id },
            { name: "RoleId", criteria: "eq", value: currentRole },
          ],
        },
      },
      { Model: "ModelFieldPermission" }
    );

    for (let index = 0; index < data.result.length; index++) {
      const perm = data.result[index];
      modalFields.modelFieldPermissions[perm.ModelFieldId] = perm.id;
    }

    modalFields.areAllSelected =
      modalFields.fields.length ===
      Object.keys(modalFields.modelFieldPermissions).length;
  }

  async function showFieldsVisibility(model) {
    modalFields.model = model;
    modalFields.isActive = true;
    modalFields.isLoading = true;

    const { data } = await get(
      "/data",
      {
        where: { AND: [{ name: "ModelId", criteria: "eq", value: model.id }] },
      },
      { Model: "ModelField" }
    );
    modalFields.fields = data.result;
    await loadFieldsVisibility();

    modalFields.isLoading = false;
  }

  async function updateAllFieldPermissions(checked) {
    for (let index = 0; index < modalFields.fields.length; index++) {
      const fieldId = modalFields.fields[index].id;
      await updateFieldPermission(checked, fieldId);
    }

    await loadFieldsVisibility();
  }

  async function updateFieldPermission(checked, id) {
    if (!id || !currentRole) {
      return;
    }

    modalFields.isLoading = true;

    if (checked) {
      await post(
        "/data",
        {
          ModelId: modalFields.model.id,
          ModelFieldId: id,
          RoleId: currentRole,
        },
        { Model: "ModelFieldPermission" }
      );
    } else {
      const permissionId = modalFields.modelFieldPermissions[id];
      if (permissionId) {
        await destroy(
          `/data/${permissionId}`,
          {},
          { Model: "ModelFieldPermission" }
        );
      }
    }

    modalFields.isLoading = false;
  }
</script>

<svelte:head>
  {#if view}
    <title>{getLabel(view)}</title>
  {/if}
</svelte:head>

{#if modalFields.model}
  <div
    class="modal {modalFields.isActive ? 'is-active' : ''} modal-fx-fadeInScale"
  >
    <div class="modal-background" />

    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">
          {getLabel("Visibilidade de campos")} - {getLabel(
            modalFields.model.name
          )}
        </p>
        <button class="delete" aria-label="close" on:click={closeModalFields} />
      </header>

      <div class="modal-card-body">
        <div class="notification is-warning mb-4">
          As edições são salvas automaticamente.
        </div>

        <table class="table w-full">
          <thead>
            <tr>
              <th>{getLabel("label")}</th>
              <th>{getLabel("name")}</th>
              <th class="has-text-centered"
                ><label class="checkbox">
                  <input
                    type="checkbox"
                    id="field_selectAll"
                    name="field_selectAll"
                    checked={modalFields.areAllSelected}
                    on:change={($ev) =>
                      updateAllFieldPermissions($ev.target.checked)}
                  />
                  {getLabel("visible")}
                </label>
              </th>
            </tr>
          </thead>

          <tbody>
            {#each modalFields.fields as field}
              <tr>
                <td>{getLabel(field.name)}</td>
                <td>{field.name}</td>
                <td class="has-text-centered">
                  <label class="checkbox">
                    <input
                      type="checkbox"
                      id="field_{field.name}"
                      name="field_{field.name}"
                      checked={modalFields.modelFieldPermissions[field.id]}
                      value={field.id}
                      on:change={async ($ev) => {
                        await updateFieldPermission(
                          $ev.target.checked,
                          $ev.target.value
                        );
                        await loadFieldsVisibility();
                      }}
                    />
                  </label>
                </td>
              </tr>
            {/each}
          </tbody>
        </table>
      </div>

      <div class="modal-card-foot" />
    </div>
  </div>
{/if}

<div class="container">
  {#if view}
    <div class="card p-4 mb-4 flex is-align-items-center">
      {#if view.Model.icon}
        <div
          class="model-icon mr-4 is-size-5"
          style={view.Model.color
            ? `background-color: ${view.Model.color};`
            : ""}
        >
          <i class="fa fa-{view.Model.icon}" />
        </div>
      {/if}

      <div>
        <h3 class="is-size-6">{getLabel(view)}</h3>
        <!-- <h2 class="is-size-4">{item.name || getLabel(item) || ""}</h2> -->
      </div>

      <div class="flex-grow" />
    </div>
  {/if}

  <form on:submit={onSubmit}>
    <div class="card p-4 is-align-items-center">
      <div class="columns">
        <div class="column is-4">
          <label class="label" for="field_RoleId" title={getLabel("RoleId")}
            >{getLabel("RoleId")}</label
          >
          <SyncSelect
            field={roleViewField}
            id="field_RoleId"
            value={currentRole}
            on:change={(e) => (currentRole = e.detail)}
          />
        </div>

        <div class="column">
          <span class="label">&nbsp;</span>
          <button class="button is-link" type="submit"
            >{getLabel("search")}</button
          >
        </div>
      </div>

      <div class="notification is-warning mb-4">
        As edições são salvas automaticamente.
      </div>

      <table class="table w-full mt-4">
        <thead>
          <tr>
            <th>{getLabel("name")}</th>
            <th class="has-text-centered">{getLabel("browse")}</th>
            <th class="has-text-centered">{getLabel("store")}</th>
            <th class="has-text-centered">{getLabel("show")}</th>
            <th class="has-text-centered">{getLabel("update")}</th>
            <th class="has-text-centered">{getLabel("delete")}</th>
            <th />
          </tr>
        </thead>

        <tbody>
          {#each models as model}
            <tr>
              <td>{getLabel(model.name)}</td>
              {#each ACTIONS as action}
                <td class="has-text-centered">
                  <label class="checkbox">
                    <input
                      type="checkbox"
                      id="field_{model.name}_{action}"
                      name="field_{model.name}_{action}"
                      checked={permissionsByModel[model.id] &&
                        permissionsByModel[model.id][action]}
                      value={permissionsByModel[model.id] &&
                        permissionsByModel[model.id][action]}
                      on:change={($ev) =>
                        update(
                          model.id,
                          action,
                          $ev.target.checked,
                          $ev.target.value
                        )}
                    />
                  </label>
                </td>
              {/each}
              <td>
                <button
                  class="button is-small"
                  type="button"
                  on:click={() => showFieldsVisibility(model)}
                  >{getLabel("Visibilidade de campos")}</button
                >
              </td>
            </tr>
          {/each}
        </tbody>
      </table>
    </div>
  </form>
</div>
