<script>
  import Label from "../../components/Label.svelte";
  import RenderValue from "../../components/RenderValue.svelte";
  import { get } from "../../utils/request";
  import { getLabel } from "../../utils/view-helper";

  export let view;
  export let id;

  const params = {};
  let modelData = null;
  let viewData = null;

  let currentFields = [];
  let item = {};

  if (window.location.hash.includes("?")) {
    const queryParams = window.location.hash.split("?")[1].split("&");
    queryParams.forEach((param) => {
      const [key, value] = param.split("=");
      params[key] = value;
    });

    loadModel();
    if (id) {
      loadView();
    }
  }

  async function loadModel() {
    const { data } = await get(
      `/data/${params.ModelId}`,
      { include: ["ModelFields"] },
      { Model: "Model" }
    );
    modelData = data.result;
    console.log("modelData", modelData);
  }

  async function loadView() {
    const { data } = await get(
      `/data/${id}`,
      { include: ["ViewFields", "ViewActions", "ViewRowActions"] },
      { Model: "View" }
    );
    viewData = data.result;
    console.log("viewData", viewData);

    currentFields = viewData.ViewFields.map((v) => {
      v.ModelField = modelData.ModelFields.find((m) => m.id === v.ModelFieldId);
      return v;
    });
  }
</script>

<svelte:head>
  {#if view}
    <title>{getLabel(view)}</title>
  {/if}
</svelte:head>

<div class="container">
  <div class="card p-4">
    <div class="flex">
      <div
        class="sidebar p-2 mr-4"
        style="background-color: #fafafa; border: 1px solid #ccc; border-radius: 5px;"
      >
        {#if modelData}
          <h4 class="is-size-4 is-bold">{modelData.name}</h4>
          <ul class="p-4">
            {#each modelData.ModelFields as field}
              <li class="mb-3">
                <b>{field.name}</b> <br />
                <small>{getLabel(field.type)}</small>

                <a href="#/" title="Adicionar campo" on:click={() => console.log('ok')}>
                  <i class="fa fa-arrow-right" />
                </a>
              </li>
            {/each}
          </ul>
        {/if}
      </div>

      <div class="flex-grow">
        <div style="max-width: 600px; margin: 0 auto;">
          <!-- <form> -->
          <div class="columns">
            {#each currentFields as field, index}
              <div class="column {field.class}">
                <Label {field} />
                <RenderValue
                  {field}
                  {index}
                  {view}
                  data={item}
                  showAccessLink={false}
                />
              </div>
            {/each}
          </div>
          <!-- </form> -->
        </div>
      </div>
    </div>
  </div>
</div>
