<script lang="ts">
  import { get } from "../../utils/request";
  let reports = [];

  async function loadReports() {
    const { data } = await get("/reports");
    reports = data.result;
  }

  loadReports();
</script>

<div class="card table-conversible">
  <table class="table w-full">
    <thead>
      <tr>
        <th>Relatório</th>
      </tr>
    </thead>

    <tbody>
      {#each reports as report}
        <tr>
          <td>
            <a href={`#/report_view/${report.id}`}>{report.label}</a>
          </td>
        </tr>
      {/each}
    </tbody>
  </table>
</div>
