<script lang="ts">
  import Chart, { type ChartItem } from "chart.js/auto";
  import { get } from "../../utils/request";
  import { v4 as uuidv4 } from "uuid";
  import { subMonths } from "date-fns";

  export let reportId: string;
  let report = null;
  let isLoading = true;
  const chartID = `chart-${uuidv4()}`;

  const formatLabel = (l: string) => {
    if (l.match(/^\d{4}-\d{2}-\d{2}T/)) {
      return l.replace(/^(\d{4})-(\d{2}).*/, "$2/$1");
    }
    return l;
  }

  const loadData = async () => {
    try {
      const { data } = await get(`/reports/${reportId}`, { mode: "summary" });
      report = data;
      setTimeout(() => {
        updateChart();
      }, 10);
    } catch (e) {}
    isLoading = false;
  };

  const generateMonths = (report) => {
    if (!report.config.intervalFilterValue.includes('MONTHS') || report.config.intervalFilterValue === '1 MONTHS')
      return report.result.summary;

    const structuredArray = [];
    const monthAmount = parseInt(report.config.intervalFilterValue.replace(' MONTHS', ''));
    
    let date = new Date();
    for (let i = 0; i < monthAmount; i++) {
      date = subMonths(new Date(), i);

      const existingElement = report.result.summary.find((row) => formatLabel(row.grouper) === formatLabel(date.toISOString()));
      structuredArray.push({
        ...existingElement,
        grouper: formatLabel(existingElement?.grouper || date.toISOString()),
        summarized: existingElement?.summarized || 0
      })
    }

    return structuredArray;
  };

  const updateChart = () => {
    const ctx = document.getElementById(chartID) as HTMLCanvasElement;

    const data = generateMonths(report);
    
    new Chart(ctx.getContext("2d"), {
      type: "bar",
      data: {
        labels: data.map((row) => row.grouper),
        datasets: [
          {
            label: report.config.label,
            data: data.map((row) => row.summarized),
          },
        ],
      },
    });
  };

  loadData();
</script>

<div class="card p-4">
  {#if report?.config}
    <p class="is-size-5">{report?.config?.label}</p>
    <canvas id={chartID} style="width: 100%"></canvas>
  {:else if isLoading}
    <p>Carregando...</p>
  {:else}
    <p>Erro ao carregar as informações</p>
  {/if}
</div>
